pipeline/pl_sourcefiles_to_sqlsertable_multipal.json
{
	"name": "pl_sourcefiles_to_sqlsertable_multipal",
	"properties": {
		"activities": [
			{
				"name": "getmetadata_sourcefiles_childtime",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_sourcefiles_sales_param",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_adlsfiles_sqlserver",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getmetadata_sourcefiles_childtime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getmetadata_sourcefiles_childtime').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy_adlssourcefiles_sqlserdb",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "sourceFiles/sales",
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sourcefiles_sales_param",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqlserver_foreach_rawtables",
									"type": "DatasetReference",
									"parameters": {
										"pTableName": {
											"value": "@replace(item().name,'.csv','')\n",
											"type": "Expression"
										},
										"pSchemaName": "dbo"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "My Practice/22nd June GetMetadata, Lookup and ForEach activity"
		},
		"annotations": []
	}
}