pipeline/pl_SQLserverSrc_ADLSGen2Landing.json
{
	"name": "pl_SQLserverSrc_ADLSGen2Landing",
	"properties": {
		"activities": [
			{
				"name": "LookupSQLServerControlTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserver_multiple_db_param",
						"type": "DatasetReference",
						"parameters": {
							"pDsServername": "localhost\\SQLEXPRESS",
							"pDsDatabaseName": "dev_clintrail_edc_src",
							"pDsSchemaName": "edcsrcmetadata",
							"pDsTableName": "srcEdcClintrailToLandControl"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "LookupSQLServerControlTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupSQLServerControlTable').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copydata_sqlserver_landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().SrcSchemaName}.@{item().SrcTableName}"
								},
								{
									"name": "Destination",
									"value": "@{item().LandingContainerName}/@{concat(item().SrcSchemaName,'/',item().SrcTableName,'/ingest_date=',formatDateTime(utcNow(),'yyyy-MM-dd'))}/@{concat(item().SrcTableName, '_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.parquet')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_sqlserver_source_adls_landing",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "LookupGetMaxMetaData",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copydata_sqlserver_landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT MAX([', coalesce(item().WatermarkColName,'MODIFIED_TS'),\n        ']) AS NewWatermark FROM ', item().SrcSchemaName, '.', item().SrcTableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								}
							}
						},
						{
							"name": "Stored procedureUpdtMxModifiedDt",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "LookupGetMaxMetaData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[edcsrcmetadata].[usp_UpdateMxWatermark]",
								"storedProcedureParameters": {
									"MetadataId": {
										"value": {
											"value": "@item().MetadataId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"NewWatermarkValue": {
										"value": {
											"value": "@activity('LookupGetMaxMetaData').output.firstRow.NewWatermark",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PplSourceServerName": {
				"type": "string"
			},
			"PplSourceDBName": {
				"type": "string"
			},
			"PplSourceTableName": {
				"type": "string"
			},
			"PplTargetServerName": {
				"type": "string"
			},
			"PplTargetDBName": {
				"type": "string"
			},
			"PplTargetTableName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "dev_clintrail/SQLServerSrc_ADLSGen2Landing"
		},
		"annotations": []
	}
}